@tailwind base;
@tailwind components;
@tailwind utilities;

:root { --bg: 255 255 255; --fg: 17 24 39; }
.dark { --bg: 17 24 39; --fg: 243 244 246; }
body { background-color: rgb(var(--bg)); color: rgb(var(--fg)); }
.card { @apply rounded-2xl shadow p-5 bg-white dark:bg-gray-900 border border-gray-200 dark:border-gray-800; }
